@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>

<p>Our Computer Shop has been established for over 10 years and continues to provide an excellent level of service and support to all our customers.</p>


<p>At our Computer Shop we believe in customer satisfaction and strive to succeed in this.
You will experierince the advantage of working with someone who understands that every person or businesses needs are unique and we can work with you to fix an issue or create a new solution.
The truth is that we understand how important a reliable computer is in this modern world, and we have all the tools required to provide just that.</p>

<div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 10px;">
    <img style="max-width: 800px; border: 2px solid blue;" src="~/Content/best_buy.jpg" alt="Our first store" />
</div>