@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>

<h2>We would like to hear from you!</h2>
<h3>Send your comments and suggestions, we promise to answer as soon as posible</h3>

<script>
    function validateForm() {
        var name = document.forms["myForm"]["Name"].value;
        if (name == "") {
            alert("Name must be filled out");
            return false;
        }
        var email = document.forms["myForm"]["Email"].value;
        if (email == "") {
            alert("Please provide email");
            return false;
        }
        var comment = document.forms["myForm"]["Comment"].value;
        if (comment == "") {
            alert("Please write your comment");
            return false;
        }
    }
</script>

<form name="myForm" onsubmit="return validateForm()" method="post" >

    <div>
        <label for="textName">Name</label>
        <input id="textName" type="text" name="Name" class="form-control" />
    </div>
    <div>
        <label for="textEmail">Email address</label>
        <input id="textEmail" type="email" name="Email" class="form-control" />
    </div>
    <div>
        <label for="textComment">Comment</label>
        <textarea class="form-control" name="Comment" rows="5" cols="20"></textarea>
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-info">Send comment</button>
    </div>

</form>


<hr />
<br />

    <div class="contactUs" style="text-align:center">
    <p>We are conviently located at:</p>

    <address>
        Bulevar Oslobodjenja 119<br />
        Novi Sad, Serbia<br />
    </address>

    <p>WE ARE OPEN:</p>

    <p>MONDAY - FRIDAY  7AM - 3PM</p>

 </div>
