@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('/Content/jumbo.jpg'); background-size: 100% auto; background-position-y: 50px; height: 700px;">
    <h1>Welcome!</h1>
    <p class="lead">Welcome to our computer shop.</p>
    <p>Check our offer at @Html.ActionLink("Devices", "Index", "Devices") </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our products</h2>
        <p>
            We offers a wide range of PC products including Laptops, Desktops and accessories.
            Whether it's basic home computer, Business system or Gaming machine we can build it.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Team</h2>
        <p>
            Our professional team is working hard to meet the needs of our customers. We maintain a focus on quality products with bottom-line growth through cost reduction andoptimal performance.
            We also focus on technology and innovation to make sure our employees skills are up to standard with today’s mode of production.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>
            Our vision is that every person posses at least one computer. We believe that computers are today's reality and also that technology is only growing more and more
            We want to offer people reasonable prices for we believe that computers in next decade or two will become a necessity in every household in the world.
        </p>

    </div>
</div>